<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reservation update from Monte Cinema 🍿</h1>
    <p>Your reservation has been cancelled due to the lack of payment. </p>
    <p>Please note that reservation is automatically cancelled if we do not receive payment until 30 minutes before the screening.</p>
    <p>Monte Cinema</p>
  </body>
</html>
